body {
  background: linen;
  font-family: Roboto;
  font-size: 18px;
  padding: 1% 5%;
}

h1 {
  text-align: center;
}

form, #bookDetail {
  background: honeydew;
  padding: 20px;
}

#bookDetail, .listWrapper {
  text-align: left;
}

button, input[type="submit"] {
  background: blueviolet;
  border: 1px solid blueviolet;
  border-radius: 2px;
  color: white;
  font-size: 18px;
  padding: 5px 20px;
  cursor: pointer;
}

input[type="submit"] {
  margin-top: 20px;
}

input[type="text"] {
  width: 280px; 
  padding: 5px;
}

button:hover, input[type="submit"]:hover {
  background: black;
  border: 1px solid black;
}

ul li {
  cursor: pointer;
}

#deleteAllBooks {
  background: red;
  border: 1px solid red;
  margin-top: 20px;
}

#deleteAllBooks:hover {
  background: red;
  border: 1px solid red;
}

#detailTitle {
  text-align: center;
}

#detailComments {
  list-style-position: inside;
  margin-left: 0;
  padding-left: 0;
}

#newCommentForm {
  display: flex; 
  justify-content: center;
}

#bookTitleToAdd {
  margin-bottom: 20px;
}

.addComment {
  margin-right: 10px;
}

.border {
  border-style: inset;
  border-width: 1px;
  margin: 10px;
}

#sampleui, #sampleposting {
  height: 100%;
  max-width: 450px;
  width: 450px; 
  text-align: center;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.flexcenter {
  display: flex; 
  justify-content: center;
}